.form {
  display: flex;
  flex-direction: column;
}

.add-button {
  height: 40px;
  align-self: center;
}

@media screen and (min-width: 720px) {
  .form {
    flex-direction: row;
  }

  mat-form-field {
    margin: 0 15px;
  }
}
